// 遮罩中显示的内容（公共样式）
.drawer-content {
  position: absolute;
  background-color: #fff;
  transition: transform 300ms;

  // 右上方关闭按钮
  span {
    box-sizing: border-box;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;

    &:hover {
      border: 1px solid #000;
    }
  }
}

// 当弹出内容位置为下方
.bottom {

  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  padding: 50px;

  &.open {
    transform: translateY(0);
  }

  &.close {
    transform: translateY(100%);
  }
}

// 当弹出内容位置为上方
.top {
  left: 0;
  right: 0;
  bottom: auto;
  top: 0;
  padding: 50px;

  &.open {
    transform: translateY(0);
  }

  &.close {
    transform: translateY(-100%);
  }
}

// 当弹出内容位置为左方
.left {

  left: 0;
  right: auto;
  bottom: 0;
  top: 0;
  padding: 50px;


  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(-100%);
  }
}

// 当弹出内容位置为右方
.right {
  left: auto;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 50px;

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(100%);
  }
}